.heroWrapper {
    background: url(assets/bg_hero-1.png)#5B6D54 no-repeat;
    background-size: cover;
    background-position: center top;
    min-height: 130vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media (min-width:$breakpoint-tablet-horizontal) {
        background: url(assets/bg_hero-1.png)#5B6D54 no-repeat;
        background-size: cover;
        background-position: center top;
    }

    // Branches
    &-branch {
        position: absolute;
        z-index: 1;

        &.branch-1 {
            top: 50vh;
            width:80vw;
            @media (min-width:$breakpoint-tablet-horizontal) {
                top: 20vh;
                width:50vw;
            }
            &.left {
                left: -30vw;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    left: -10%;
                }
            }

            &.right {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                right: -30vw;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    right: -10%;
                }

            }
        }

        &.branch-2 {
            top: 80vh;
            width:50vw;
            @media (min-width:$breakpoint-tablet-horizontal) {
               top: 70vh;
            }

            &.left {
                left: -2%;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    left: -2%;
                }
            }

            &.right {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                right: -2%;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    right: -2%;
                }
            }
        }

        &.branch-3 {
            top: 48vh;
            z-index: 2;
            width:50vw;
            img {
                width: 90vw;
            }
            @media (min-width:$breakpoint-tablet-horizontal) {
                top: 20vh;
                width:40vw;
                img {
                    width: auto;
                }
            }
            &.left {
                left: -5%;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    left: -2%;
                }
            }

            &.right {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                right: -5%;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    right: -2%;
                }

            }
        }

        &.branch-4 {
            top: -0;
            width: 60vw;
            img{
                width:100vw;
            }
            @media (min-width:$breakpoint-tablet-horizontal) {
                top: -3vh;
                width: 50vw;
                img{
                    width: auto;
                }
            }
            &.left {
                left: -25%;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    left: -2%;
                }
            }

            &.right {
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1);
                right: -25%;

                @media (min-width:$breakpoint-tablet-horizontal) {
                    right: -2%;
                }
            }
        }

    }

    .heroContent {
        position: relative;
        z-index: 2;
        text-align: center;
        color: white;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-logo {
            img {
                max-width: 70%;
                margin-right: 6vw;
                @media (min-width:$breakpoint-tablet-horizontal) {
                margin-right: 3vw;
                }
            }
        }

        &-scroll {
                margin-left: -6vw;
                @media (min-width:$breakpoint-tablet-horizontal) {
                    margin-left: -4vw;
                }
            a{
                display: flex;
                flex-direction: column;
                align-items: center;
                font-weight: 100;
                position: absolute;
                bottom: 10vh;
                color:white;
                text-decoration: none;
                span,img{
                    transition: all ease-in-out 0.3s;
                }
                &:hover{
                    span{
                        transform: translateY(-0.2vw);
                    }
                    img {
                        transform: translateY(0.2vw);
                    }
                }
            }
        }

        h1 {
            position: relative;
            z-index: 10;
            font-family: "retiro-std-24pt";
            font-size:10vw;
            margin-bottom: 0.2rem;
            @media (min-width:$breakpoint-tablet-horizontal) {
                font-size: 3.7rem;
                z-index: 1;
            }
        }

        h2 {
            font-weight: 100;
            font-size: 2rem;
            line-height: 1.4;
            margin-top: 0.5rem;
        }
    }

    // subHero
    .subHeroWrapper {
        position: relative;
        z-index: 2;

        @media (min-width:$breakpoint-tablet-horizontal) {
            padding: 15vh 0 0 0 ;
        }
        .branch-5{
            position: absolute;
            top: 10vh;
            left: -46vw;

            img {
                width: 28vw;
            }
        }
        .subHeroContent {
            color: white;

            h2 {
                font-family: "retiro-std-24pt";
                text-align: center;
                font-size: 3rem;

                span {
                    font-family: 'Poppins';
                    font-weight: 200;
                }
            }

            p {
                font-size: 6vw;
                font-weight: 200;
                line-height: 1.4;
                text-align: center;
                z-index: 2;
                @media (max-width:$breakpoint-tablet) {
                    font-size: 5vw;
                }
                
                @media (min-width:$breakpoint-tablet-horizontal) {
                    font-size: 2rem;
                    line-height: 1.2;
                }

                img {
                    position: relative;
                    left: -2%;
                }
            }
        }
    }

}

.footerHeroWrapper{
    background: #5B6D54;
}

[class^="cursor"] {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10000;
    pointer-events: none;
}

.cursor-outer {
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    transition: all .08s ease-out;
}

.cursor-inner {
    width: 7px;
    height: 7px;
    background: #fff;
}

.content:hover~.cursor-outer {
    width: 90px;
    height: 90px;
    background: #fff;
    mix-blend-mode: difference;
}

.content:hover~.cursor-inner {
    opacity: 0;
}