.wrapperFooter {
    background-color: #506F17;
    color: #ffffff;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 5vw;
    padding-bottom: 3vw;
}
.bigWrapperFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}
.footerWrapperName {
    width: 12vw;
    @media (min-width:$breakpoint-tablet-horizontal) {
        width: 25vw;
    }
}
.nameSectionTwo {
    margin-top: -3vw;
    text-align: right;
}
.footerNewslater {
    width: 50%;
}
.wrapperNewsInput {
    display: flex;
    justify-content: center;
}
.titleNewslater {
    // font-family: "Blacker Display";
    font-size: 1.3rem;
    text-align: left;
    color: white;
    margin: 2rem 0 2rem 0;
    @media (min-width:$breakpoint-tablet-horizontal) {
    margin:0;
    }
}
.imputNews {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 1.1em;
    color: #ffffff;
    text-transform: uppercase;
    background-color: transparent;
    border: none !important;
    border-bottom: 1px solid #ffffff !important;
    border-radius: 0% !important;
    width: 100%;
}
.btnNews {
    background-color: transparent;
    border: none !important;
}
.wrapperSectionContactNetwork {
    display: flex;
    flex-direction: column;
}
.wrapperSectionContactNetwork div {
    height: 50%;
    width: 100%;
}
.wrapperContact {
    font-family: "Poppins";
    
}
.titleContactSection {
    font-weight: 600;
    font-size: 1rem;
    line-height: 36px;
    color: white;
    margin-bottom: 0;
}
.contactMail {
    a{
        font-size: 1.2rem;
        line-height: 48px;
        color: #e9e4dc;
        font-weight: 200;
        text-decoration: none;
        transition: color ease-in 0.3s;
        &:hover{
            color:#ddaa3a;
        }
    }
        margin: 0;
}
.ulInformation {
    list-style: none;
    margin: 0%;
    padding: 0%;
}
.infoFooter {
    font-family: "Poppins";
    
    font-size: 1em;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.wrapperNetwork {
    margin-top: 2vw;
}
.networkIcon {
    text-decoration: none;
    margin-right: 1vw;
}
.wrapperLastLine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 2vw;
    color: #fff;
    font-family: "Poppins";
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    padding: 0px 20px;
    p{
        margin: 0;
    }
    @media (min-width:$breakpoint-tablet-horizontal) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }
}
.wrapperPolitique {
    a {
        text-decoration: none;
        color: #fff;
        margin:0 10px;
        @media (min-width:$breakpoint-tablet-horizontal) {
        margin-left: 5vw;
        margin-right: 0;
        }
    }
}
.wrapperLegend{
    
}
.networkIcon:hover {
    .hoverSvg {
        fill: #ddaa3a;
    }
}

@media screen and (max-width: $breakpoint-tablet) {
    .wrapperFooter {
        padding-left: 2vw;
        padding-right: 2vw;
    }
    .bigWrapperFlex {
        flex-direction: column;
    }
    .titleNewslater {
        text-align: left;
    }
    .wrapperSectionContactNetwork {
        margin-top: 5vw;
        margin-bottom: 5vw;
    }
    .wrapperInformation {
        margin-top: 2vw;
        margin-bottom: 2vw;
    }
    .footerWrapperName {
        width: 100%;
        margin-left: -7vw;
        display: flex;
        justify-content: center;
        @media (min-width:$breakpoint-tablet-horizontal) {
            margin-left: 0;
        }
    }
    .footerWrapperName p {
        text-align: left;
    }
    .footerNewslater,
    .wrapperSectionContactNetwork,
    .wrapperInformation {
        width: 100%;
    }
}
.anchorWrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @media (min-width:$breakpoint-tablet-horizontal) {
        div{
            flex:50%;
        }
        flex-direction: row;
        align-items: center;
        align-content: center;

    }
    .menuAnchor ul{
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        a{
            text-decoration: none;
            color: white;
             transition: color ease-in 0.3s;
             &:hover {
                 color: #ddaa3a;
             }
        }
    }
    .logoTraveller {
        margin-top: 2.5rem;
        @media (min-width:$breakpoint-tablet-horizontal) {
            margin-top: 0;
        }
    }
}
.FooterNewsletterWrapper{
    margin-top: 5vh;
    @media (min-width:$breakpoint-tablet-horizontal) {
        width:50%;
        margin-top: 0;
    }
    .newsletterWrapper {
        position: relative;
        
        input[type=email] {
            background: transparent;
            color: white;
            font-weight: 400;
            border-color: white;
            margin-top: 0.5rem;
            max-width: 100%;
            min-width: auto;

            @media (min-width:$breakpoint-tablet-horizontal) {
                min-width: 100%;
            }

            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: white !important;
                text-transform: uppercase;
            }

            &::-moz-placeholder {
                /* Firefox 19+ */
                color: white !important;
                text-transform: uppercase;
            }

            &:-ms-input-placeholder {
                /* IE 10+ */
                color: white !important;
                text-transform: uppercase;
            }

            &:-moz-placeholder {
                /* Firefox 18- */
                color: white !important;
                text-transform: uppercase;
            }
        }

        input[type=submit] {
            position: absolute;
            right: 0%;
            width: 50px;
            top: 15px;
            z-index: 3;
            opacity: 0;
        }

        .arrow {
            position: absolute;
            top: 23px;
            right: 0;
            background: url(assets/arrow-submit.svg) transparent no-repeat center center;
            background-size: contain;
            display: block;
            width: 40px;
            height: 17px;
            z-index: 2;
        }
    }
}

@media screen and (min-width:$breakpoint-tablet) and (max-width: 1023px) {
    .wrapperSectionContactNetwork,
    .footerNewslater {
        text-align: center;
    }
    .anchorWrapper{
        align-items: center;
    }
}

.page-id-3{
    background: #E0DAD6;
    main{
        margin:0 auto;
        width:90vw;
    }
}