
body{
    background: #5B6D54;
}
.loading #preloader {
    top: 0;
    transition: top .8s ease-in-out;
    z-index: 66;
}

#preloader {
    background: #5B6D54;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    // display:none;
    top: -110%;
    transition: top .8s ease-in-out;
    left: 0;
    width: 100%;
    z-index: -1;

    svg {
        width: 100px;
    }

    #counter-wrap {
        font-size: 6vw;
        text-align: center;
        font-family: "retiro-std-24pt";
    }
}